<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Рейтинг</title>
</head>
<body>
    <div class="container">
        <h1>Рейтинг</h1>
        <p>Ваши результаты:</p>
        <div id="rating-results">
            <!-- Здесь будут отображаться результаты рейтинга -->
             <p>Ваш рейтинг: 100</p>
            <p>Ваши рекомендации:</p>
            <ul>
                <li>Продолжайте улучшать свои навыки и повышайте свой уровень в Английском языке.</li>
                <li>Попробуйте изучить новые темы и улучшить свои навыки.</li>
                <li>Стартовать изучение с нуля и постоянно продолжать его.</li>
            </ul>
        </div>
        <a href="/" class="back-button">На главную</a>
    </div>
</body>
</html>